@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

@layer utilities {
  .text-balance { text-wrap: balance; }
}
